
.container {
  display: flex;
  height: 400px;
  width: 1200px;

}

.shop-offer-list {
  height: 100%;
  width: 60%;
  border: 1px solid red;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 16px 0px 16px;
}


.offer-item {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.shopping-cart {
  border: 1px solid green;
  height: 100%;
  width: 40%;
}

.add-to-cart-btn {
  padding: 0px 16px;
  border-radius: 32px;
  height: 52px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: #1A73E8;
  transition: 0.3s;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: #085ac6;
  transition: 0.3s;
}

.fa-solid {
  cursor: pointer;
  font-size: 24px;
}

.quantity {
  align-self: center;
  justify-self: center;
  margin: 0px 8px 0px 8px;
}

.quantity-paragraph {
  display: flex;
}

.cart-list {
  list-style: none;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  /* margin: 8px; */
}
